name: ci

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.x"

      - name: Install deps
        run: bun install --frozen-lockfile

      - name: Typecheck
        run: bun run check


